{% extends 'base.html' %}

{% block content %}
<body class="is-preload">
  <div class="content">
    <h1>Documents</h1>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Uploaded Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for doc in all_documents %}
            <tr>
              <td>{{ doc.title }}</td>
              <td>{{ doc.description }}</td>
              <td>{{ doc.upload_date }}</td>
              <td>
                <div class="row gtr-uniform">
                  <div class="col-6 col-12-xsmall">
                    <form method="POST" action={{ url_for('download',id=doc.id) }}>
                      <input type=hidden name=key value={{ doc.file_url }}>
                      <button type="submit"><i class="fa fa-download"></i></button>
                    </form>
                  </div>
                  <div class="col-6 col-12-xsmall">
                    <form method="POST" action={{ url_for('delete_document') }}>
                      <input type=hidden name=key value={{ doc.file_url }}>
                      <button type="submit"><i class="fa fa-trash"></i></button>
                    </form>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</body>
{% endblock %}