{% extends 'base.html' %}

{% block content %}
<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h1>Login</h1>
    </header>
    <div class="content">
      <span class="subheading">Sign into your account</span>
    </div>
  <!-- Main Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-10 mx-auto content">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form action="/login" method="post">
          {{ form.csrf_token }}
          {{ form.email.label }} {{ form.email(size=50) }}
          {{ form.password.label }} {{ form.password(size=50) }}
          <input type="submit" value="Login">
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}