{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			{% if is_edit: %}
      <h1>Edit Document</h1>
      {% else: %}
      <h1>New Document</h1>
      {% endif %}
    </header>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <form action="/new-document" method="post" enctype="multipart/form-data" novalidate="True">
                {{ form.csrf_token }}
                {{ form.title.label }} {{ form.title(size=50) }}
                <br/>
                {{ form.description.label }} {{ form.description(size=100) }}
                <br/>
                {{ form.file_url.label }} {{ form.file_url }}
                <br/>
                {{ form.tags.label }} {{ form.tags }}
                <br/>
                {% if is_edit: %}
                <input type="submit" value="Edit Document">
                {% else: %}
                <input type="submit" value="Add Document">
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}