{% extends 'base.html' %}

{% block content %}
<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h1>Register</h1>
    </header>
    <div class="content">
      <span class="subheading">Create an account</span>
    </div>
  <!-- Main Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-10 mx-auto content">
        <br/>
        <form action="/login" method="post">
          {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}